*{
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
    height: 90px;
    margin: 1%;
    gap: 1%;
}
.col{
    background-color: gray;
    flex: 1;
}
.col-2{
    background-color: gray;
    flex: 2;
}
.col-3{
    background-color: gray;
    flex: 3;
}