*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.likes{
    width: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 2% auto;
    padding: 15px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    padding: 1% 2%;
    background-color: #ffd966;
    box-shadow: 1px 1px black;
}
.like{
    display: flex;
    gap: 10px;
}