* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* nav bar */
.nav {
    background-color: #000000;

}
.mid{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 45%;
    margin: 0 auto;
}
.title{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    flex: 1;
    gap: 2%;
}

.nav-title {
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
}

.nav-link {
    color: gray;
    text-decoration: none;
}

.active {
    color: white;
    font-weight: bold;
}

.btn {
    background-color: #17a2b8;
    color: white;
    padding: 0 5px;
    box-shadow: 2px 2px black;
}
/* user card */
.container-card {
    border: 1px solid #d1d1d1;
}

.head {
    background-color: #17a2b8;
    height: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0 5% 5%;
    gap: 15px;
}

.profile {
    width: 100px;
    position: relative;
    margin-top: -50px;
}

.icon {
    width: 10px;
}
/* edu */
.education{
    border: 1px solid #d1d1d1;
}
.edu-head{
    background-color:#333333;
    color: white;
    padding: 4%;
}
.edu-main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2%;
}
.gray{
    color: gray;
}
/* connections*/
.con{
    border: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.con-head{
    background-color: #333333;
    color: white;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 2%;

}
.num{
    background-color:#d0d0d0;
    border-radius: 50%;
    color: black;
    padding: 1%;
    text-align: center;
    width: 20px;
}
.con-main{
    
    padding: 1% 9% 6% 3%;
    display: flex;
    justify-content: space-between;
}
.users{
    display: flex;
    justify-content: space-between;
    
}
.user-icon{
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-con{
    display: flex;
    gap: 7px;
}
.tx{
    background-color:#999999;
    border-radius: 50%;
    color: white;
    text-align: center;
    border: none;
    padding: 10%;
    margin-left: 5px;
    width: 50px;
}
.con-bot{
    border: 1px solid #d1d1d1;
    padding: 5%;
}
/* main container */
.container{
    width: 50%;
    margin: 0 auto;
    padding: 3%;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}