@import "tailwindcss";

body{
    background-image: url('./assets/ricky&morty.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}